<div class="header">

  <div class="left">

    <!-- TOGGLE -->
    <div class="toggle" (click)="toggleSidebar()" title="Toggle Sidebar">
      <i class="pi pi-bars"></i>
    </div>

    <!-- DYNAMIC BREADCRUMB -->
    <nav class="breadcrumb" aria-label="breadcrumb">
      <!-- <ng-container *ngFor="let crumb of (headerConfig$ | async)?.breadcrumbs; let last = last; let i = index">
        <a 
          *ngIf="!last && crumb.routerLink" 
          [routerLink]="crumb.routerLink" 
          class="breadcrumb-link">
          {{ crumb.label }}
        </a>
        <span 
          *ngIf="!last && !crumb.routerLink" 
          class="breadcrumb-link muted">
          {{ crumb.label }}
        </span>
        <span *ngIf="!last" class="breadcrumb-sep">›</span>
        <b *ngIf="last">{{ crumb.label }}</b>
      </ng-container> -->
    </nav>

  </div>



  <!-- <div class="right">
    <button 
      class="btn light" 
      *ngIf="(headerConfig$ | async)?.showFilter">
      <i class="pi pi-filter"></i>
      <span class="btn-label">Filter</span>
    </button>

    <button 
      class="btn primary"
      *ngIf="(headerConfig$ | async)?.showAddButton &&
             permissionService.hasPermission(
               (headerConfig$ | async)?.permissionModule || '',
               (headerConfig$ | async)?.permissionAction || ''
             )"
      (click)="onAddNew()">
      {{ (headerConfig$ | async)?.addButtonLabel || '+ Add New' }}
    </button>

   <div class="header-user-section" *ngIf="userData">
  <div class="user-info">
    <span class="user-name">{{ userData.name || 'User' }}</span>
    <span class="user-role">{{ userData.role || 'Member' }}</span>
  </div>

  <div class="user-avatar">
    {{ getInitials(userData.name) }}
  </div>

  <button class="logout-icon-btn" (click)="onLogout()" title="Logout">
    <i class="pi pi-power-off"></i>
  </button>
</div>

  </div> -->
</div>

