<div 
  class="sidebar-backdrop" 
  [class.visible]="!isCollapsed && isMobile"
  (click)="closeSidebar()">
</div>

<div class="sidebar" [class.collapsed]="isCollapsed">

  <!-- LOGO -->
  <div class="logo">
    <div class="logo-icon">HM</div>
    <div class="logo-text" *ngIf="!isCollapsed">
      <h4>HMEP</h4>
      <span>Mfg. Execution Platform</span>
    </div>
  </div>

  <!-- SCROLLABLE MENU -->
  <div class="menu-container">
    <div class="menu">

      <a routerLink="/main-layout/project-owner-workbench" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-home"></i>
        <span *ngIf="!isCollapsed">Project Owner Workbench</span>
      </a>

      <a routerLink="/main-layout/project-details-dashboard" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-briefcase"></i>
        <span *ngIf="!isCollapsed">Project Details </span>
      </a>

      <a routerLink="/main-layout/detail-bom" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-sitemap"></i>
        <span *ngIf="!isCollapsed">Detail BOM</span>
      </a>

      <a routerLink="/main-layout/reports-upload" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-upload"></i>
        <span *ngIf="!isCollapsed">Reports Upload</span>
      </a>

      <a routerLink="/main-layout/stagewise-production" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-chart-bar"></i>
        <span *ngIf="!isCollapsed">Stagewise Production</span>
      </a>

      <a routerLink="/main-layout/inspection-report" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-search"></i>
        <span *ngIf="!isCollapsed">Inspection Report</span>
      </a>

      <a routerLink="/main-layout/qc-decision" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-check-circle"></i>
        <span *ngIf="!isCollapsed">QC Decision</span>
      </a>

      <a routerLink="/main-layout/non-conformance-report" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-exclamation-triangle"></i>
        <span *ngIf="!isCollapsed">Non Conformance Report</span>
      </a>

      <a routerLink="/main-layout/final-checks" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-verified"></i>
        <span *ngIf="!isCollapsed">Final Checks</span>
      </a>

      <a routerLink="/main-layout/billing-readiness" routerLinkActive="active" (click)="onNavClick()">
        <i class="pi pi-wallet"></i>
        <span *ngIf="!isCollapsed">Billing Readiness</span>
      </a>

    </div>
  </div>

</div>